.category_Name
{
    color: #fff;
    text-shadow:1px 1px 1px #000;
}

.category_description
{
    position: relative;
}
.cat_order
{
    background-color: #e0e0e0;
    padding: 10px;
    color: #000;
    font-weight: bolder;
    border-radius: 5px;
    border: 1px solid #ebccd1;
    position: absolute;
    top: 78px;
    right: 0px;
}
.panel-group .panel
{
    border-radius: 5px;
}
.panel-danger > .panel-heading
{
    color: #895878 !important;
    background-color: #8b5c7e !important;
    border-color: #000000;
    border: 3px solid #d0d0d0;
    border-radius: 5px;
}